.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid gray;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgray
}

#error-message {
    color: red;
    text-align: center;
}

#clear-form-data {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

#clear-form-data:hover {
    background-color: darkgray;
}